.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #262c3b;
  border-radius: 10px;
  margin: 20px;
}

.task-icon {
  width: 48px;
  height: 48px;
  background-color: #384156;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  color: #f09785;
}

.task-details {
  flex: 1;
}

.task-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  font-size: 16px;
  margin-bottom: 4px;
  color: white;
}

.task-sub-details {
  font-size: 11px;
  color: white;
}

.task-menu {
  padding-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12), 0 -2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 -6.7px 5.3px rgba(0, 0, 0, 0.048), 0 -12.5px 10px rgba(0, 0, 0, 0.06),
    0 -22.3px 17.9px rgba(0, 0, 0, 0.072), 0 -41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 -100px 80px rgba(0, 0, 0, 0.12);
}

.animated-div {
  transition: all 0.1s ease-in-out;
  transform: translateZ(0);
}

.animated-div:hover {
  transform: scale3d(1.05, 1.05, 1);
}
